<div class="footer-column inner">
  <div class="footer-column-wrapper">
    <div class="col">
      <h3 class="col-title">Recent Posts</h3>
      <section class="col-content">
        <div class="new-articles">
          <ul>
            {{#get "posts"}}
              {{#foreach posts limit="7"}}
                <li>
                  <h4><a href="{{url}}">{{title}}</a></h4>
                  <div class="read-next-card-meta">
                    <p><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> –
                      {{reading_time}}</p>
                  </div>
                </li>
              {{/foreach}}
            {{/get}}
          </ul>
        </div>
      </section>
    </div>
    <div class="col">
      <h3 class="col-title">#Tags</h3>
      <section class="col-content tags">
        {{#get "tags" limit="50"}}
          {{tags separator=" &bull; "}}
        {{/get}}
      </section>
    </div>
    <div class="col">
      <h3 class="col-title">Meenistry?</h3>
      <section class="col-content">
        <p>Meenistry adalah aplikasi yang memudahkan anda dalam pencarian dan penyewaan ruang secara praktis, untuk
          kebutuhan meeting, kantor, co-working, pernikahan, arisan. Pakai Meenistry semua jadi beres.</p>
      </section>
    </div>
  </div>
</div>